$sass-border-input: 1px solid #ccc;

#form-step-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-step-3-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-step-3-form-box-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  width:  320px;
}

#form-step-3-form-pwd-title {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  color: #4A4A4A;
  margin-bottom: 5px;
}

#form-step-3-form-pwd {
  width: 100%;
  height: 40px;
  border: $sass-border-input;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

#form-step-3-form-box-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  width:  320px;
}

#form-step-3-form-verif-pwd-title {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  color: #4A4A4A;
  margin-bottom: 5px;
}

#form-step-3-form-verif-pwd {
  width: 100%;
  height: 40px;
  border: $sass-border-input;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

#form-step-3-form-box-3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  width:  320px;
}

#form-step-3-previous {
  width: 155px;
  border: $sass-border-input;
  height: 40px;
  background: #fff;
  border-radius: 2px;
}

#form-step-3-submit {
  width: 155px;
  border: $sass-border-input;
  height: 40px;
  background: #fff;
  border-radius: 2px;
}