#lgi-complete-visitedby-view
  width: 100%
  margin-top: 30px

#lgi-complete-visitedby-view-title
  width: 100%
  display: flex
  justify-content: flex-start
  color: #66757F
  font-family: 'Source sans pro', sans-serif
  font-size: .875em
  font-weight: 400

#lgi-complete-visitedby-view-empty
  color: rgba(#66757F, 0.6)
  font-family: 'Source sans pro', sans-serif
  font-size: .875em
  font-weight: 400
  text-align: center
  margin-top: 30px