body {
  padding: 0;
  margin: 0;
}

#logged-out {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logged-out-right-box {
  background: linear-gradient(to right, #ff5a60, #ff7479, #ff8d91);
  width: 57%;
  height: 100vh;
}

#logged-out-left-box {
  background: #fff;  
  width: 43%;
  height: 100vh;  
}