#lgi-complete-profil-body
  background: rgba(0, 0, 0, 0.5)
  width: calc(100% - 290px)
  margin-left: 10px
  position: relative

#lgi-complete-profil-body-close
  width: 100%
  display: flex
  justify-content: flex-end

#lgi-complete-profil-body-close-icon
  margin-right: 10px
  margin-top: 10px
  cursor: pointer
  opacity: .8
  transition: .2s

#lgi-complete-profil-body-close-icon:hover
  opacity: 1

#lgi-complete-profil-body-match
  margin-top: 20px
  margin-left: 55px
  display: flex
  align-items: center

#lgi-complete-profil-body-match-text
  font-family: 'Source sans pro', sans-serif
  font-size: .75em
  font-weight: 300
  font-style: italic
  letter-spacing: .5px
  color: #fff
  margin-left: 5px
  margin-top: 1px

#lgi-complete-profil-body-match-empty
  margin-top: 20px
  height: 16px
  width: 100%

#lgi-complete-profil-body-user
  margin-top: 50px
  margin-left: 55px

#lgi-complete-profil-body-user-lastconnexion
  color: #fff
  font-family: 'Source sans pro', sans-serif
  font-size: .75em
  font-weight: 300
  font-style: italic

#lgi-complete-profil-body-user-username
  display: flex
  align-items: flex-start
  margin-top: 5px

#lgi-complete-profil-body-user-username-text
  font-family: 'Source sans pro', sans-serif
  font-size: 1.25em
  font-weight: 600
  color: #fff

#lgi-complete-profil-body-user-username-co-status-inactive
  width: 5px
  height: 5px
  border: 1px solid #fff
  background: rgba(0, 0, 0, 0)
  border-radius: 50%
  margin-left: 2px

#lgi-complete-profil-body-user-username-co-status-active
  width: 5px
  height: 5px
  border: 1px solid rgba(50, 205, 50, 1)
  background: rgba(50, 205, 50, 1)
  border-radius: 50%
  margin-left: 2px

#lgi-complete-profil-body-user-info
  margin-top: 5px
  font-family: 'Source sans pro', sans-serif
  font-size: 1em
  font-weight: 300
  color: #fff

#lgi-complete-profil-body-cta
  position: absolute
  bottom: 15px
  display: flex
  justify-content: space-between
  width: 100%

#lgi-complete-profil-body-cta-left
  display: flex
  margin-left: 55px

#lgi-complete-profil-body-cta-left-like
  width: 30px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  border-radius: 50%
  background: #E6C2AA

#lgi-complete-profil-body-cta-left-score
  padding: 0px 10px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  border-radius: 15px
  background: #E6C2AA
  margin-left: 10px

#lgi-complete-profil-body-cta-left-score-score
  font-family: 'Source sans pro', sans-serif
  font-size: .875em
  font-weight: 400
  color: #fff
  margin-left: 5px

#lgi-complete-profil-body-cta-left-msg
  width: 30px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  border-radius: 50%
  background: #E6C2AA
  margin-left: 10px

#lgi-complete-profil-body-cta-right
  display: flex

#lgi-complete-profil-body-cta-right-block
  display: flex
  align-items: center
  height: 30px
  border: none
  border-radius: 15px
  border: 1px solid #fff
  padding: 0px 15px
  cursor: pointer
  transition: .2s
  background: rgba(255, 255, 255, 0)
  outline: none

#lgi-complete-profil-body-cta-right-block:hover
  background: rgba(#fff, 0.05)

#lgi-complete-profil-body-cta-right-block-text
  margin-left: 5px
  font-family: 'Source sans pro', sans-serif
  font-size: .875em
  font-weight: 400
  color: #fff
  text-transform: uppercase
  margin-top: 1px

#lgi-complete-profil-body-cta-right-block:disabled
  opacity: .5
  cursor: not-allowed

#lgi-complete-profil-body-cta-right-block-blocked
  display: flex
  align-items: center
  height: 30px
  border: none
  border-radius: 15px
  border: 1px solid red
  padding: 0px 15px
  cursor: pointer
  transition: .2s
  background: rgba(255, 0, 0, 1)
  outline: none

#lgi-complete-profil-body-cta-right-report
  display: flex
  align-items: center
  height: 30px
  border: none
  border-radius: 15px
  border: 1px solid #fff
  padding: 0px 15px
  cursor: pointer
  transition: .2s
  margin: 0px 10px
  background: rgba(255, 255, 255, 0)
  outline: none

#lgi-complete-profil-body-cta-right-report:hover
  background: rgba(#fff, 0.05)

#lgi-complete-profil-body-cta-right-report-text
  margin-left: 5px
  font-family: 'Source sans pro', sans-serif
  font-size: .875em
  font-weight: 400
  color: #fff
  text-transform: uppercase
  margin-top: 1px


// MODAL REPORT
.lgi-complete-profil-body-modal-background
  position: fixed
  width: 100%
  height: 100%
  z-index: 99
  display: flex
  justify-content: center
  align-items: center
  background: rgba(0, 0, 0, 0.5)
  top: 0
  left: 0

.lgi-complete-profil-body-modal-box
  width: 350px
  background: #fff
  border-radius: 3px
  height: 220px
  display: flex
  flex-direction: column
  align-items: center

.lgi-complete-profil-body-modal-close
  align-self: flex-end
  border: none
  outline: none
  margin-top: 5px
  margin-right: 5px
  opacity: .2
  transition: .2s
  cursor: pointer

.lgi-complete-profil-body-modal-close:hover
  opacity: .8

.lgi-complete-profil-body-modal-close img
  width: 8px

.lgi-complete-profil-body-modal-text
  color: #66757F
  font-family: 'Source sans pro', sans-serif
  font-size: .875em
  font-weight: 400
  width: 80%
  text-align: center
  margin-top: 40px

.lgi-complete-profil-body-modal-submit
  width: 200px
  height: 30px
  background: rgba(#E6C2AA, 1)
  border-radius: 3px
  border: none
  margin-top: 30px
  color: #fff
  text-transform: uppercase
  font-family: 'Source sans pro', sans-serif
  font-size: .75em
  font-weight: 600
  border-bottom: 1px solid #BC9E8A
  cursor: pointer
  outline: none
  transition: .2s

.lgi-complete-profil-body-modal-submit:hover
  opacity: .8

@keyframes complete-profil-body-modal-loading
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.lgi-complete-profil-body-modal-submit-loading
  width: 200px
  height: 30px
  background: rgba(#fff, 0)
  margin-top: 30px
  display: flex
  justify-content: center

.lgi-complete-profil-body-modal-submit-loading-animation
  animation-name: complete-profil-body-modal-loading
  animation-duration: 1s
  animation-iteration-count: infinite
  width: 25px
  height: 25px
  border: 5px solid #fcfcfd
  border-radius: 50%
  border-top: 5px solid #E6C2AA


.lgi-complete-profil-body-modal-error
  color: red
  font-family: 'Source sans pro', sans-serif
  font-size: .75em
  font-weight: 400
  margin-top: 5px