$sass-border-input: 1px solid #ccc;

#reset-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#reset-box-form {
  width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#reset-box-form-label-username {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  color: #4A4A4A;
  margin-bottom: 5px;
}

#reset-box-form-input-username {
  width: 100%;
  height: 40px;
  border: $sass-border-input;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

#reset-box-form-label-email {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  color: #4A4A4A;
  margin-bottom: 5px;
}

#reset-box-form-input-email {
  width: 100%;
  height: 40px;
  border: $sass-border-input;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

#reset-box-form-btn {

}

#reset-box-form-btn-reset {
  width: 100%;
  height: 30px;
  color: #4A4A4A;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#reset-box-form-btn-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#reset-box-form-btn-signup {
  width: 155px;
  height: 30px;
  color: #4A4A4A;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-box-form-btn-signin {
  width: 155px;
  height: 30px;
  color: #4A4A4A;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}