// LIST BOX
#lgi-suggestion-list
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  
.lgi-suggestion-list-item-img-element
  width: 100%
  height: 100%
  object-fit: cover
  margin: 0px
  padding: 0px


@keyframes test
  0%
    background: #F3F3F3
  100%
    background: #E6E6E6
    
.lgi-suggestion-list-item-img
  animation-name: test
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-timing-function: ease
  background: blue
  width: 200px
  height: 157px
  margin: 0px
  padding: 0px