$sass-border-input: 1px solid #ccc;

#form-step-2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-step-2-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
}

#form-step-2-form-group-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#form-step-2-form-group-1-box-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#form-step-2-form-group-1-label-firstname {
  align-self: flex-start;
  margin-bottom: 5px;
  color: #4A4A4A;
  font-size: 0.875em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

#form-step-2-form-group-1-firstname {
  width: 155px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: $sass-border-input;
  padding: 0;
}

#form-step-2-form-group-1-box-2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#form-step-2-form-group-1-label-lastname {
  align-self: flex-start;
  margin-bottom: 5px;
  color: #4A4A4A;
  font-size: 0.875em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

#form-step-2-form-group-1-lastname {
  width: 155px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: $sass-border-input;
  padding: 0;
}

#form-step-2-form-group-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

#form-step-2-form-group-2-title {
  width: 100%;
  margin-bottom: 5px;
  align-self: flex-start;
  color: #4A4A4A;
  font-size: 0.875em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

#form-step-2-form-group-2-day {
  width: 80px;
  height: 40px;
  border: $sass-border-input;
  background: #f8f8f8;
}

#form-step-2-form-group-2-month {
  width: 135px;
  height: 40px;
  border: $sass-border-input;
  background: #f8f8f8;
}

#form-step-2-form-group-2-year {
  width: 90px;
  height: 40px;
  border: $sass-border-input;
  background: #f8f8f8;
}

#form-step-2-form-group-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#form-step-2-form-group-3-box-1 {
  margin-top: 15px;
}

#form-step-2-form-group-3-genre-title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  color: #4A4A4A;
}

#form-step-2-form-group-3-genre {
  width: 155px;
  height: 40px;
  border: $sass-border-input;
}

#form-step-2-form-group-3-box-2 {
  margin-top: 15px;
}

#form-step-2-form-group-3-lookingFor-title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  color: #4A4A4A;
}

#form-step-2-form-group-3-lookingFor {
  width: 155px;
  height: 40px;
  border: $sass-border-input;
}

#form-step-2-form-group-4 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: 15px;
}

#form-step-2-previous {
  width: 155px;
  height: 40px;
  background: #fff;
  border: $sass-border-input;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

#form-step-2-form-submit {
  width: 155px;
  height: 40px;
  background: #fff;
  border: $sass-border-input;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}