// STYLE
#lgi-profil
  display: flex
  width: 100%
  margin-top: 50px

#lgi-profil-infobox
  display: flex
  flex-wrap: wrap
  width: 660px
  margin-left: 15px

// MEDIA QUERIES
@media screen and (max-width: 800px)
  #lgi-profil
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    margin-top: 50px